@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$color-very-light-grayish-blue: hsl(240, 78%, 98%);
$color-light-grayish-blue: hsl(234, 14%, 74%);
$color-grayish-blue:hsl(233, 13%, 49%);
$color-dark-grayish-blue:hsl(232, 13%, 33%);
$color-linear-gradient:  hsl(236, 72%, 79%),hsl(237, 63%, 64%);
$color-button-second: hsl(237, 63%, 64%);
$font-size-principal: 15px;
$principal-font-family: 'Montserrat', sans-serif;

